body {
  font-family: Instrument Sans;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #d5b781;
  transition: color 0.5s ease;
}

.aot {
  background-image: url("assets/images/background_image_header.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin: 0 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header img {
  width: 120px;
}

.phone-button {
  font-family: Instrument Sans;
  background-color: transparent;
  border-radius: 45px;
  border: 2px solid #555555;
  color: white;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
}

.phone-button:hover {
  background-color: #555555;
  color: white;
}

nav a {
  padding: 8px;
  margin: 0px 8px;
  color: white;
  font-size: 16px;
  transition: all 0.5s ease;
}

.aot-content {
  top: 130px;
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}

.aot-content hr {
  width: 100px;
  border: 1px solid white;
}

.aot-text {
  width: 40vw;
  color: rgba(255, 255, 255, 0.4);
}

button {
font-family: 'Montserrat', sans-serif;
font-size: 17px;
font-weight: bold;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: white;
  padding: 20px 40px;
  margin-top: 50px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
    background-color: #555555;
    color: white;
  }