@font-face {
    font-family: 'Instrument Sans';
    src: url('/assets/fonts/instrument_sans/InstrumentSans-Italic-VariableFont_wdth\,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('/assets/fonts/instrument_sans/InstrumentSans-VariableFont_wdth\,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/Montserrat-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 500;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: var(--clr-black);
    text-align: center;
    margin: 0;
}

h4 {
    font-size: 23px;
    font-weight: 100;
    margin: 0 0 15px 0;
}

p {
    font-size: 20px
}