@font-face {
    font-family: 'Instrument Sans';
    src: url('/assets/fonts/instrument_sans/InstrumentSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('/assets/fonts/instrument_sans/InstrumentSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/Montserrat-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}

h4 {
    font-size: 24px;
    margin: 0;
}